.container {
  display: flex;
}

.master {
  position: relative;
  flex: 1;
  padding: 9px;
  border-right: 1px solid #ddd;
}

.detail {
  flex: 3;
  padding: 9px;
}

.createContactButton {
  position: absolute;
  top: auto;
  bottom: 18px;
  right: 18px;
}

.activityText {
  height: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* NOTE: `!important` needed because material-ui uses inline styles */
  background-color: #eeeeee!important;
}
